input,
select,
option {
  background-color: inherit;
  font-size: var(--font-size-medium);
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

input:focus,
select:focus {
  background-color: var(--color-accent-tint-6);
  border: 1px solid var(--color-accent);
  /* box-shadow: 0 0 3px 3px var(--color-accent-tint-2); */
}

option {
  background-color: var(--color-white);
}

input.invalid {
  background-color: var(--color-error-tint-3);
  border: 1px solid var(--color-error);
  color: var(--color-error);
}
