.signin-button {
  background-color: var(--color-main-tint-1);
  color: var(--color-white);
}

.signin-button:hover {
  background-color: var(--color-main-tint-2);
}

.signin-button:active {
  background-color: var(--color-main-tint-3);
}

.error-message {
  margin-top: 0.5rem;
  font-size: var(--font-size-regular);
  color: var(--color-error);
}
