header {
  position: fixed;
  width: 100%;
  background-color: var(--color-main-1);
  box-shadow: 0 0 0.5rem 0.5rem var(--color-shadow);
}

.header-bar {
  display: flex;
  min-width: var(--page-min-width);
  max-width: var(--page-max-width);
  padding: 0.5rem var(--page-side-padding);
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  min-height: 4rem;
}

.title-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.title {
  font-size: var(--font-size-very-big);
  color: var(--color-white);
}

.logo {
  color: var(--color-white);
  width: var(--font-size-big);
  height: var(--font-size-big);
}

.menu {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.menu button {
  color: var(--color-white);
  font-size: var(--font-size-regular);
  background-color: var(--color-main-tint-1);
  border: 1px solid transparent;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.menu button:hover {
  background-color: var(--color-main-tint-2);
}

.menu button:active {
  background-color: var(--color-main-tint-3);
}

.menu-button-content {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-icon {
  color: var(--color-white);
  /* width: var(--font-size-medium);
  height: var(--font-size-medium); */
  width: 1.5rem;
  height: 1.5rem;
}

.menu span {
  text-transform: uppercase;
  letter-spacing: normal;
  text-shadow: 0 0 0.2rem var(--color-main-1);
}
