.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 20rem;
  margin: 2rem auto;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0.2rem var(--color-shadow);
}

input,
select,
option {
  background-color: inherit;
  font-size: var(--font-size-medium);
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

input:focus,
select:focus {
  background-color: var(--color-accent-tint-6);
  border: 1px solid var(--color-accent);
  /* box-shadow: 0 0 3px 3px var(--color-accent-tint-2); */
}

option {
  background-color: var(--color-white);
}

button {
  padding: 0.5rem 1rem;
  font-size: var(--font-size-big);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input.invalid {
  background-color: var(--color-error-tint-3);
  border: 1px solid var(--color-error);
  color: var(--color-error);
}
